body {
  background-color: black;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100vh;
}

div {
  display: block;
  margin: 0 auto;
  padding: 0 1vw;
  width: 30%;
  min-width: 500px;
  color: white;
  background-color: grey;
}

#TopHead {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  height: 34px;
}

#LowerHead {
  text-align: center;
  height: 18px;
}

#ExtOpen {
  text-align: center;
  font-size: 10px;
}

#Player {
  height: 40px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

audio {
  width: 100%;
}

#Playlist {
  height: calc(90vh - 144px);
  overflow-y: scroll;
}

#UploadForm {
  height: 40px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#UploadWarning {
  display: inline;
  color: red;
  visibility: hidden;
}

#YoutubeForm {
  height: 40px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

form {
  margin: 0;
}

input[type='file'] {
  width: 80%;
}

input[type='text'] {
  width: 80%;
}

button {
  width: calc(20% - 4px);
}

progress {
  width: 99.6%;
}