<html>

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="TopHead">
        {{ title }}
    </div>

    <div id="LowerHead">
        {{ remark }}
    </div>

    <div id="ExtOpen">
        <a href="{{ ext_link }}">Open in external player.</a>
    </div>

    <div id="Player">
        <audio controls preload="none">
            <source src="{{ stream_source }}" type="audio/ogg"> Your browser does not support the audio element, sucks to be you.
        </audio>
    </div>

    <div id="Playlist"></div>
    <div>
        <form id="ToggleForm">
            <fieldset>
                <input type="radio" name="form" value="file" checked>
                <label for="file">Files</label>
                <input type="radio" name="form" value="youtube">
                <label for="youtube">Youtube</label>
                <p id="UploadWarning">You are currently unable to upload.</p>
            </fieldset>
        </form>
    </div>
    <div id="UploadForm">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="button">Submit</button>
            <br>
            <progress max="100" style="display: none;" value="0"></progress>
        </form>
    </div>
    <div id="YoutubeForm" style="display: none;">
        <form>
            <input name="link" type="text">
            <button type="button">Submit</button>
            <br>
            <progress max="100" style="display: none;" value="0"></progress>
        </form>
    </div>

</body>

</html>